@{
    ViewBag.Title = "Home Page";
}

<div class="container" ng-app="app" ng-controller="mainController as main">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Currency name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tool in ViewBag.Tools) {
                <tr>
                    <th scope="row">@tool.Id</th>
                    <td>@tool.Name</td>
                </tr>
            }
        </tbody>

    </table>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Participant name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var participant in ViewBag.Participants) {
                <tr>
                    <th scope="row">@participant.Id</th>
                    <td>@participant.Name</td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Currency</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col">Time</th>
                <th scope="col">Buyer</th>
                <th scope="col">Seller</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in ViewBag.Transactions) {
                <tr>
                    <th scope="row">@transaction.Id</th>
                    <td>@transaction.ToolId</td>
                    <td>@transaction.Price</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.Time</td>
                    <td>@transaction.BuyerId</td>
                    <td>@transaction.SellerId</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="input-group">
        <input type="text" ng-model="main.toolName" placeholder="Currrency name to add" class="form-control" />
        <input type="button" ng-click="main.AddTool(main.toolName)" class="btn-success form-control" value="Add tool"/>
    </div>
</div>