
@{
    ViewBag.Title = "Home Page";
}
<h2 class="text-center my-lg-3">Razor view</h2>

<div class="input-group">
    @using (Html.BeginForm("SelectTool", "Home")) {
        @Html.DropDownList("Id", ViewBag.ToolsList as SelectList, new { onchange = "this.form.submit();", @class = "form-control" })
    }
</div>

<div class="container">

    <script>
        var barChartData =
            {
                labels:  @Html.Raw(ViewBag.dataX),          //the names displayed on the x-axis, see images below
                datasets: [{
                    data: @Html.Raw(ViewBag.dataY),
                    label: "Transaction price",
                    //backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)'
                }]
            };

            window.onload = function () {
                var ctx1 = document.getElementById("myChartRazor").getContext("2d");
                window.myBar = new Chart(ctx1,
                    {
                        type: 'line',
                        data: barChartData,
                        options:
                            {
                                scales: {
                                    xAxes: [{
                                        type: 'time',
                                        time: {
                                            unit: 'day',
                                            displayFormats: {
                                                day: 'MMM D'
                                            }
                                        }
                                    }]
                                }
                            }
                    });
            }
    </script>
    <div class="center-block">
        <canvas id="myChartRazor"></canvas>
    </div>

    <div class="center-block my-5">
        <input type="button" data-target="#toHide" data-toggle="collapse" class="form-control btn-success" value="Show transactions table" />
    </div>

    <div id="toHide" class="collapse">
        <div class="card">
            <div class="card-header bg-info">
                <h3 class="text-center">Transactions info</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Currency</th>
                            <th scope="col">Price</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Time</th>
                            <th scope="col">Buyer</th>
                            <th scope="col">Seller</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var transaction in ViewBag.Transactions) {
                            <tr>
                                <th scope="row">@transaction.Id</th>
                                <td>@transaction.Tool.Name</td>
                                <td>@transaction.Price @transaction.Tool.Name</td>
                                <td>@transaction.Amount @transaction.Tool.Name</td>
                                <td>@transaction.Time</td>
                                <td>@transaction.Buyer.Name</td>
                                <td>@transaction.Seller.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
